/*================ Mixins ===================*/
@mixin xsm {
    @media (min-width: 420px) {
        @content;
    }
}

@mixin sm {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin md {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin xl {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin xxl {
    @media (min-width: 1400px) {
        @content;
    }
}

$columns: 12;

/*================Fonts===================*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');
//============== Font Variables=========/
$Fira-font:'Fira Code',
monospace;

$Poppins-font:'Poppins',
monospace;

/*================COLORS==================*/
$main-bg:#0A192F;
$main-cyan:#66FCF1;
$text-color:#EBEBEB;
/*========== Margins ==========*/

$m-0-25: 0.25rem;
$m-0-5: 0.5rem;
$m-0-75: 0.75rem;
$m-1:1rem;
$m-1-5: 1.5rem;
$m-2:2rem;
$m-2-5: 2.5rem;
$m-3:3rem;

/*========== Paddings ==========*/

$p-0-25: 0.25rem;
$p-0-5: 0.5rem;
$p-0-75: 0.75rem;
$p-1:1rem;
$p-1-5: 1.5rem;
$p-2:2rem;
$p-2-5: 2.5rem;
$p-3:3rem;

/*========== Font and typography ==========*/

// Mobile font sizes

$Headline-1:9.6rem;
$Headline-2:6.5rem;
$Headline-3:4.8rem;
$Headline-4:3.2rem;
$Paragraph-1:2.4rem;
$Paragraph-2:1.8rem;
$Body:1.4rem;
$Subtitle-1:1.2rem;
$Subtitle-2:1.35rem;

/*========== Font weight ==========*/
$font-Thin:100;
$font-Extra-Light:200;
$font-Light:300;
$font-Normal:400;
$font-Medium:500;
$font-Semi-Bold:600;
$font-Bold:700;
$font-Extra-Bold:800;
$font-Ultra-Bold:900;