@import '../../styles/Variables.scss';

.final {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .skills__modal {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 500;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.336);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        animation: modal__pop 3s ease-in-out;

        .skill__modal__box {
            height: 300px;
            width: 300px;
            background-color: #8077E7;
            border-radius: 10px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                border-radius: 5px;
                ;
            }

            p {
                color: white;
                position: absolute;
                bottom: 2rem;
            }
        }
    }

    .skills__container {
        text-align: left;
        display: flex;
        align-content: center;
        justify-content: flex-start;
        padding: 0 5rem !important;
        padding-top: 10rem !important;
        position: relative;

        @include lg {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .cor {
            position: absolute;
            right: -3rem;
            bottom: -5rem;

            @include lg {
                display: none;
            }
        }



        .skills__content {
            width: 100%;

            .skills__heading {
                padding-left: 5rem;
                display: flex;
                align-items: center;
                gap: 350px;
                width: 100%;

                @include lg {
                    padding-left: 0;
                }

                .skills__title {
                    font-size: 5rem;
                    cursor: pointer;
                    text-align: left;
                    font-family: $Poppins-font;

                    @include xl {
                        font-size: $Headline-4 !important;
                    }
                }

                .skills__services {
                    cursor: pointer;
                    font-size: 5rem;
                    text-align: left;
                    font-family: $Poppins-font;
                    opacity: 0;
                    visibility: hidden;
                    animation: serv 1s ease forwards 3s;

                    @include xl {
                        font-size: $Headline-4 !important;
                    }
                }

                .box {
                    width: 50px;
                    height: 50px;
                    animation: img 1s infinite;
                }
            }

            .services__container {
                width: 100%;
                padding-left: 5rem;

                @include lg {
                    padding-left: 0 !important;
                }

                .servicesRow {
                    height: 220px;
                    width: 100%;

                    .servicesCol {
                        .service__card {
                            height: 200px;
                            background-color: $card-bg;
                            border-radius: 5px;
                            padding: 1rem 3rem;
                            margin: 0 1rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &__item {
                                text-align: center;
                            }
                        }
                    }
                }
            }

            .skills__cards {
                width: 100%;
                padding-left: 5rem;

                @include lg {
                    padding-left: 0;
                }

                .first-row {
                    height: 220px;
                    width: 100%;

                    .langs {
                        .lang {
                            height: 200px;
                            background-color: $card-bg;
                            border-radius: 5px;
                            margin: 0 1rem;
                            padding: 1rem 3rem;

                            .subtitle {
                                font-weight: 600;
                                font-size: $Paragraph-2;

                                span {
                                    color: $tags-red;
                                }
                            }

                            .icons {
                                height: 150px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }

                        }

                    }


                    .design {
                        .ds {
                            height: 200px;
                            background-color: $card-bg;
                            border-radius: 5px;
                            margin: 0 1rem;
                            padding: 1rem 3rem;

                            .subtitle {
                                font-weight: 600;
                                font-size: $Paragraph-2;

                                span {
                                    color: $tags-red;
                                }
                            }

                            .icons {
                                height: 150px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }

                        }
                    }

                    .tools {
                        .tool {
                            height: 200px;
                            background-color: $card-bg;
                            border-radius: 5px;
                            margin: 0 1rem;
                            padding: 1rem 3rem;

                            .subtitle {
                                font-weight: 600;
                                font-size: $Paragraph-2;

                                span {
                                    color: $tags-red;
                                }
                            }

                            .icons {
                                height: 150px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }

                        }
                    }
                }

                .second-row {
                    height: 220px;
                    width: 100%;

                    .tech {
                        .tek {
                            height: 200px;
                            background-color: $card-bg;
                            border-radius: 5px;
                            margin: 0 1rem;
                            padding: 1rem 3rem;

                            .subtitle {
                                font-weight: 600;
                                font-size: $Paragraph-2;

                                span {
                                    color: $tags-red;
                                }
                            }

                            .icons {
                                height: 150px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }

                        }
                    }
                }
            }
        }

    }
}

@keyframes modal__pop {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    10% {
        opacity: 1;
        visibility: visible;
    }



    90% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes serv {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {

        visibility: visible;
    }
}