@import '../../../styles/Variables.scss';


.sectionBar__item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 50px;


    .dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: $main-cyan;
        position: absolute;
        bottom: 0;
        box-shadow: 0px 0px 6px #00FFFF;
    }

    .active__dot {
        height: 20px;
        width: 20px;
        bottom: -5px;
    }

    .text {
        font-size: 16px;
        opacity: 0.3;
    }

    .active {
        font-weight: $font-Medium;
        color: white;
        font-size: 1.8rem;
        opacity: 1;
    }
}