@import '../../styles/Variables.scss';




.final {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .about__container {
        text-align: left;
        display: flex;
        align-content: center;
        justify-content: flex-start;
        padding: 0 5rem !important;
        padding-top: 10rem !important;
        padding-bottom: 10rem !important;
        overflow: hidden;

        .about__content {
            position: relative;
            padding: 5rem 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;

            .about__text {
                padding-left: 5rem;


                &__subtitle {
                    font-family: $Poppins-font;
                    text-align: left;

                    @include xxl {
                        font-size: $Headline-3;
                    }
                }

                &__desc {
                    width: 60%;

                    @include xxl {
                        font-size: $Body;
                    }

                    span {
                        color: $main-cyan;
                    }
                }
            }

            .about__image {
                position: absolute;
                width: 300px;
                left: -30rem;
                transition: all 0.3s ease;
                top: -5rem;

                @include xl {
                    width: 250px;
                    left: -20rem;
                }


                &:hover {
                    transform: scale(1.1)
                }

            }
        }


    }
}