@import '../../styles/Variables.scss';


.final {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .home__container {
        text-align: left;
        display: flex;
        align-content: center;
        justify-content: flex-start;
        padding: 0 5rem !important;
        padding-top: 5rem !important;
        padding-bottom: 10rem !important;

        @include xxl {
            padding-top: 2rem !important;

        }

        .a {
            width: 600px;
            height: 400px;
            animation: img 1s infinite;
            position: absolute;
            z-index: -1;
            right: -10rem;

            @include xxl {
                width: 550px;
                height: 350px;
            }


        }

        .home__text {

            .home__buttons {

                margin-top: 3rem;

                .contact__btn,
                .explore__btn {
                    color: $main-cyan !important;
                    font-family: $Fira-font;
                    background-color: #ffffff17;
                    border: 3px solid #66FCF1;
                    border-radius: 5px;
                    box-shadow: 0px 0px 10px #087BFF;
                    height: 50px;
                    transition: all 0.3s ease;

                    @include xxl {
                        font-size: 14px !important;
                    }

                    &:hover {
                        transform: scale(1.1);
                        box-shadow: 0px 0px 20px #087BFF;

                    }

                }



                .contact__btn {
                    margin-right: 3rem;

                }

                .explore__btn {
                    display: inline-flex;
                    align-content: center;
                    justify-content: space-between;


                    img {
                        transform: scale(2);
                        animation: scroll 1s infinite 8s;
                    }
                }
            }




            padding-left: 5rem;

            &__small {
                color: $main-cyan;
                margin: 0;
            }

            &__title {
                text-align: left;
                font-family: $Poppins-font;

                @include xxl {
                    font-size: $Headline-2;
                }

                @include xl {
                    font-size: $Headline-3;
                }

                animation: title 2s infinite;

                span {
                    color: $main-cyan;
                }
            }

            &__subtitle {
                font-size: 6rem;
                font-weight: bold;
                font-family: $Poppins-font;
                width: 65%;
                color: $text-color;
                line-height: 1.1;

                @include xxl {
                    font-size: $Headline-3;
                }

                @include xl {
                    font-size: $Headline-4;
                    width: 50%;
                }

            }

            &__desc {
                width: 60%;
                line-height: 1.8;
                padding: 2rem 0;

                @include xxl {
                    font-size: $Body
                }

                span {
                    color: $main-cyan;

                }
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateY(-3px) scale(2);
    }

    50% {

        transform: translateY(3px) scale(2);

    }

    100% {
        transform: translateY(-3px)scale(2);
    }
}

@keyframes img {
    0% {
        transform: translateY(-3px);
    }

    50% {

        transform: translateY(3px);

    }

    100% {
        transform: translateY(-3px);
    }
}


@keyframes title {
    0% {
        text-shadow: 0px 0px 8px #00FFF8;
    }

    50% {

        text-shadow: 0px 0px 1px #00FFF8;

    }

    100% {
        text-shadow: 0px 0px 8px #00FFF8;
    }
}