@import '../../styles/Variables.scss';

.contact__container {
    text-align: left;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0 5rem !important;
    margin-bottom: 10rem !important;
    margin-top: 20rem !important;
    position: relative;

    @include xsm {
        margin-top: 5rem !important;
        flex-direction: column;

        padding: 4rem 2rem !important;
    }

    .contact__socials {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 5rem 0;



        a {
            width: 30px;
            fill: white;
        }

        @media screen and (min-width:765px) {
            .contact__socials {
                display: none;
            }

        }
    }

    .contact__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .contact__title {
            font-family: $Poppins-font;
            margin-bottom: 3rem;

            @include xsm {
                font-size: $Headline-4;
            }
        }

        .contact__desc {
            width: 50%;
            text-align: center;
            margin-bottom: 3rem;
            line-height: 1.7;

            @include xsm {
                width: 100%;
            }

        }

        .contact__button {
            color: $main-cyan !important;
            font-family: $Fira-font;
            background-color: #ffffff17;
            border: 3px solid #66FCF1;
            border-radius: 5px;
            box-shadow: 0px 0px 10px #087BFF;
            height: 50px;
            transition: all 0.3s ease;


            &:hover {
                transform: scale(1.1);
                box-shadow: 0px 0px 20px #087BFF;

            }
        }
    }
}

.footer {
    text-align: center;
    padding-bottom: 2rem;
    margin-top: -5rem;
    font-size: 12px;
}