@import '../../styles/Variables.scss';

.item__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 70px;

    img {
        width: 60px;
    }

    .item__sub {
        font-size: 14px;
    }
}