@import '../../styles/Variables.scss';

.navBar {
    height: 70px;

    @include xsm {
        margin-bottom: 3rem;
    }

    @include md {
        margin-bottom: 3rem;
    }


    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navBar__logo {
            height: 60px;
        }

        .menu-bar {
            width: 30px;
        }

        .navBar__list {
            display: flex;
            align-items: center;
            gap: 40px;

            @include xsm {
                display: none;
            }

            @include md {
                display: none;
            }

            .navBar__link {
                cursor: pointer;
                transition: all ease 0.3s;

                &:hover {
                    color: $main-cyan;
                    transform: translateY(-2px);
                }
            }
        }
    }
}